target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
src/main/java/org/roi/itlab/cassandra/random_attributes/PersonExample.java
buildNumber.properties
.mvn/timing.properties
.idea/
*.iml
